# Database connection string (replace with your MongoDB cluster details)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=meetingmind
# Change this to your hugging face repo, e.g. "your-username/bart-meeting"
# Or use the local path if mounting inside docker
MODEL_CHECKPOINT=facebook/bart-large-cnn
ALLOWED_ORIGINS=*
HOST=0.0.0.0
PORT=7860
